{% block title %} {% endblock %}

{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>

<p>
    Leider gehören Sie nicht zur Zielgruppe dieser Studie.<br>
    Vielen Dank für Ihr Interesse.
</p>
<p>
    Sie werden in wenigen Sekunden weitergeleitet.<br>
    Sollten Sie nicht weitergeleitet werden, klicken Sie bitte unten auf „Teilnahme erfassen“.
</p>

</div>

<div class="next-btn radiotable">
<div style="float: right; padding-top: 2vh;">
    <a href="https://www.panelservice.com/ps/se.ashx?s=6C2369B275393EA2&pid=da24021&int=so&eid={{participantid}}" class="btn btn-primary" role="button">Teilnahme erfassen</a>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/functions.js' %}" defer></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setWidthForTableColumns1();

        // Redirect after 5 seconds
        setTimeout(function() {
            window.location.href = "https://www.panelservice.com/ps/se.ashx?s=6C2369B275393EA2&pid=da24021&int=so&eid={{participantid}}";
            //testing without participant ID first
        }, 3000); // 5000 milliseconds = 5 seconds
    });
</script>
{% endblock %}
