{% block title %}Instruktionen{% endblock %}

{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>

<p>In der deutschen Klimapolitik werden viele verschiedene politische Maßnahmen diskutiert.</p>

<p>Im Folgenden werden Ihnen einige klimapolitische Vorschläge gezeigt. Bitte lesen Sie diese aufmerksam und beantworten Sie anschließend jeweils einige Fragen. Dabei gibt es keine richtigen oder falschen Antworten. Geben Sie die Antwort an, die Ihnen ganz persönlich passend erscheint.</p>

<p><b>Wenn Sie diese Studie auf einem Smartphone bearbeiten, dann drehen Sie das Gerät bitte ins Querformat. Nur so werden alle Inhalte korrekt angezeigt.</b></p>

<p>Zur Erinnerung: Diese Studie wird anonym durchgeführt. Es ist nicht möglich, Ihre Angaben mit Ihnen in Verbindung zu bringen. </p>

</div>

<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary"> {{Lexicon.next}}</button>

{% endblock %}



{% block scripts %}
    <script src="{% static 'global/js/functions.js' %}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setWidthForTableColumns1();
        });
    </script>
{% endblock %}
