{% block title %}Bitte versetzen Sie sich in die folgende Situation...{% endblock %}

{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>

  <p>Ein unabhängiger Expertenrat hat vor Kurzem eine Reihe an Empfehlungen zum Klimaschutz in verschiedenen Sektoren veröffentlicht. </p>

  <p>Bitte lesen Sie nun im Folgenden die vier Vorschläge des Expertenrates und beantworten Sie anschließend jeweils einige Fragen.</p>

</div>

<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary"> {{Lexicon.next}}</button>




{% endblock %}



{% block scripts %}
    <script src="{% static 'global/js/functions.js' %}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setWidthForTableColumns1();
        });
    </script>
{% endblock %}
