{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ Lexicon.po_title }}
{% endblock %}


{% block content %}

<p>
    {{ Lexicon.po_intro }} 
</p>
<style>  
    table {
            width: 100%;
        }   
    table.radiotable th, table.radiotable td {
        text-align: center;
        font-size: 12pt;
        min-width: 6ch;
        max-width: 6ch;
    }
    /* Center-align the first column */
    table.radiotable th:first-child, table.radiotable td:first-child {
        text-align: center;
        min-width: 6ch;
        max-width: 6ch;
    }

    /* Alternating row colors */
    table.radiotable tr:nth-child(even) {
        background-color: #c0e3e0;
    }
</style>

{{ for field in form }}
    <div class="question">
        <p class="question-label">{{ field.label }}</p>
        <table class="radiotable">
            <tr>
                <th>links</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>rechts</th>
            </tr>
            <tr>
                {% for choice in field %}
                    <td>{{ choice }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endfor %}


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var cells = document.querySelectorAll('.radiotable td');
        cells.forEach(function(cell) {
            cell.addEventListener('click', function() {
                var radioButton = this.querySelector('input[type="radio"]');
                if (radioButton) {
                    radioButton.checked = true;
                    // Trigger a change event for the radio button if necessary
                    var event = new Event('change', { bubbles: true });
                    radioButton.dispatchEvent(event);
                }
            });
        });
    });
</script>

{% endblock %}