
{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">

    <style>  
        table.radiotable th, table.radiotable td {
            padding: 12px;
            text-align: center;
            min-width: 16.5%;
            max-width: 16.5%;
        }
        /* Left-align the first column */
        table.radiotable th:first-child, table.radiotable td:first-child {
            text-align: center;
            min-width: 16.5%;
            max-width: 16.5%;
        }
        /* Alternating row colors */
        table.radiotable tr:nth-child(even) {
            background-color: #c0e3e0;
        }
    </style>
{% endblock %}

{% block title %}
Einstellungen zum Klimawandel
{% endblock %}


{% block content %}

<p>Wie sehr stimmen Sie den folgenden Aussagen zu?</p>

   
    {{ for field in form }}
    <hr>
    {{ field.label }}
    <table class="radiotable">
        <tr>
            <th class="radio-column">gar nicht</th>
            <th class="radio-column"></th>
            <th class="radio-column"></th>
            <th class="radio-column"></th>
            <th class="radio-column"></th>
            <th class="radio-column">sehr stark</th> 
        </tr>
        <tr>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>
    {{ endfor }}



<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %}
        
    </div>
</div> 

{% endblock %}


